{% extends "layout.html" %}
{% block content %}
 <section id="contact">
        <h2>Contact Information</h2>
        <p>Feel free to reach out to me through any of the following channels:</p>

        <div class="contact-method">
            <h3>Email</h3>
            <p>You can email me directly at: <a href="mailto:marsht2@cardiff.ac.uk">marsht2@cardiff.ac.uk</a></p>
        </div>

        <div class="contact-method">
            <h3>Phone</h3>
            <p>If you prefer a quick chat, give me a call or send a text at: <strong>(+44) 7123456789</strong></p>
        </div>

        <div class="contact-method">
            <h3>Social Media</h3>
            <p>I'm active on these platforms. Feel free to connect with me:</p>
            <ul>
                <li><a href="https://www.linkedin.com/in/tyrique-marsh-830a3332b/" target="_blank">LinkedIn</a></li>
                <li><a href="https://github.com/tyriquemarsh" target="_blank">GitHub</a></li>
                <li><a href="https://www.youtube.com/@Tyriku" target="_blank">YouTube</a></li>
            </ul>
        </div>
{% endblock content %}