{% extends "layout.html" %}
{% block content %}
<section id="skills">
    <h2>Skills and Competences</h2>
    <h3>Technical Skills</h3>
    <ul>
        {% for skill in skills.technical_skills %}
            <li>{{ skill.Skill_Name }}: {{ skill.Proficiency_Level }}</li>
        {% endfor %}
    </ul>
    <h3>Soft Skills</h3>
    <ul>
    {% for skill in skills.soft_skills %}
        <li>{{ skill['Skill_Name'] }}: {{ skill['Proficiency_Level'] }}</li>
    {% endfor %}
    </ul>
</section>
{% endblock content %}
